# Coq
*.vo
*.vos
*.vok
*.vio
*.v.d
.coqdeps.d
*.glob
*.cache
*.aux
\#*\#
.\#*
*~
*.bak
.coqdeps.d
.coq-native/
builddep/
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
*.crashcoqide
_opam

# Custom
src/LinearConvection/Parallel-py/*
src/LinearConvection/Sequential-py/*
src/LinearConvection/.idea/*
src/Heat/Parallel-py/*
src/Heat/Sequential-py/*
src/Heat/.idea/*
src/Poisson/.idea/*
src/Poisson/Sequential-py/*
src/Poisson/Parallel-py/*
dafny/dafny
.DS_Store
dafny/.DS_Store
*.pdf

# Scheme
*.log

# Tex
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc
